{% import "_includes/forms" as forms %}

{{ forms.textField({
    label: "Username"|t("instagramfeed"),
    id: 'instagramUser',
    name: 'instagramUser',
    instructions: "Please, enter your Instagram username."|t("instagramfeed"),
    value: settings.instagramUser,
    type: 'text',
    required: true
}) }}

<p>{{ "Make sure the entered instagram user profil is not private."|t("instagramfeed") }}</p>
